[Unit]
Description=Disable autobrightness

[Service]
Type=simple
ExecStart=/usr/bin/disable-autobrightness.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
